table,
tr,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
}
html {
  height: 100%;
}
body {
  background-image: linear-gradient(
    to bottom right,
    #0c1013,
    #0033cc,
    #ff77cc,
    rgb(255, 122, 89)
  );
}
b {
  color: white;
}
#font{
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
